<div class="m-3">
<h2 class="title">Stupid Coaching</h2>

<div class="as border-start border-dark border-5 p-3 mb-5">
<%= @question %>
<p>-You</p>
</div>

<div class="as border-start border-dark border-5 p-3 mb-5">
  <div class="ans">
    <%= @answer %>
    <p>-Your coach</p>
  </div>
</div>

<%= link_to "Ask a new question", ask_path %>
</div>
