<div class="m-3">
<h2 class="title">Stupid Coaching</h2>
<p>Ask your coach anything:</p>
<div class="input-group mb-3">
  <form action="/answer" data-turbo="false" >
    <input type="text" name="question" aria-describedby="button-addon">
    <input type="submit" value="Ask!" id="button-addon">
  </form>
</div>
</div>
